@import '@shared/styles/constants';
@import '@shared/styles/mixin';

.app-menu {
    :global(.ant-menu-item) {
        margin-bottom: @gap-4xs;
        padding-left: @gap-m;
    }
}

.app-menu:global(.ant-menu-vertical).app-menu,
.app-menu:global(.ant-menu-inline).app-menu {
    > :global(.ant-menu-item:not(:last-child)) {
        margin-bottom: (@rem * 18);

        .media-md({
            margin-bottom: @gap-2s;
        });
    }

    > :global(.ant-menu-item) {
        :global(.anticon) {
            color: @app-icon-color;
        }
    }

    @media (any-hover: hover) {
        > :global(.ant-menu-item):hover {
            :global(.anticon) {
                color: currentColor;
            }
        }
    }
}
