@import '@shared/styles/constants';
@import '@shared/styles/mixin';

:global(.ant-tabs-top).tabs {
    :global(.ant-tabs-nav) {
        margin-bottom: @gap-2m;
    }
}

:global(.ant-tabs-nav-list) {
    width: 100%;
}

.tabs {
    :global(.ant-tabs-tab + .ant-tabs-tab) {
        margin: 0;
    }

    :global(.ant-tabs-tab) {
        padding: @gap-s 0;
        flex: 50%;
        justify-content: center;

        font-size: @font-line-m;
        line-height: @font-line-m;

        .media-xs({
            font-size: @font-size-2m;           
        });
    }
}
