@import '@shared/styles/constants.less';
@import '@shared/styles/mixin';

.logo {
    margin-top: @gap-6xl;
    margin-bottom: @gap_xxl;
    margin-left: @gap-2xl;
    transition: transform 0.3s;

    &--collapsed {
        position: relative;
        margin-left: unset;
        left: 50%;
        transform: translateX(-50%);
    }

    .media-md({
        margin-top: @gap-m;
        margin-bottom: @gap-2xl;
        margin-left: @gap-m;
    });
}

:global(.ant-layout-sider).app-sider {
    position: fixed;
    z-index: @z-index-m;
    height: 100%;

    :global(.ant-layout-sider-children) {
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}

:global(.ant-divider-horizontal).app-divider {
    flex: 1;
    margin: 0;
    border-top: none;
    border-bottom: (@rem * 1) solid @app-devider;
}
