@import '@shared/styles/constants';
@import '@shared/styles/mixin';

.confirm-content {
    padding: @gap-4xxl @gap-7xl @gap-12xl;

    :global(h3.ant-typography) {
        font-weight: 500;
    }

    .media-xs({
        padding: @gap-4xl @gap-m;
    });

    .select-text {
        font-weight: 700;
    }

    .select-text-block {
        display: block;
    }
}

.confirm-email {
    font-size: @font-size-4xxl;
    line-height: 1;
    margin-bottom: @gap-2xl !important;
    color: @app-primary-color;
}
