#root {
    max-width: @maxWidth;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --icon-color: currentColor;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

@font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
@text-color: @app-text-color-primary;
@heading-color: @app-text-color-primary;
@primary-color: @app-primary-color;
