@maxWidth: 1440px;
@tableWidth: 834px;
@minWidth: 360px;

/* __________________________________ color ______________________________________ */

@colorBlack: rgb(0, 0, 0); /* #000000 */
@colorRed: rgb(255, 0, 0); /* #ff0000 */
@colorWhite: rgb(255, 255, 255); /* #ffffff */

/* __________________________________ font ________________________________________ */

@fontSize: 16;
@rem: 1rem / @fontSize;

/* __________________________________ transition __________________________________ */

@standartTrans: all 280ms;
