@maxWidth: 1440px;
@tableWidth: 834px;
@minWidth: 360px;

/* __________________________________ color ______________________________________ */

@colorBlack: rgb(0, 0, 0); /* #000000 */
@colorRed: rgb(255, 0, 0); /* #ff0000 */
@colorWhite: rgb(255, 255, 255); /* #ffffff */
@colorCatalinaBlue: rgb(6, 17, 120); /* #061178 */
@colorGray: rgb(140, 140, 140); /* #8C8C8C */
@colorGallery: rgb(240, 240, 240); /* #F0F0F0 */
@colorMineShaft: rgb(38, 38, 38); /* #262626 */
@colorZircon: rgb(240, 245, 255); /* #F0F5FF */
@colorRoyalBlue: rgb(47, 84, 235); /* #2F54EB */

/* __________________________________ font ________________________________________ */

@fontSize: 16;
@rem: 1rem / @fontSize;

/* __________________________________ transition __________________________________ */

@standartTrans: all 280ms;

/* __________________________________ theme _______________________________________ */

@app-background-primary: @colorWhite;
@app-sider-trigger: @colorGray;
@app-devider: @colorGallery;
@app-icon-color: @colorCatalinaBlue;
@app-text-color-primary: @colorMineShaft;
@app-header-background-color: @colorZircon;
@app-card-text-color-primary: @colorCatalinaBlue;
@app-card-ctive-color-text-button: @colorRoyalBlue;
@app-link-color: @colorRoyalBlue;
