@maxWidth: 1440px;
@tableWidth: 835px;
@minWidth: 360px;

/* __________________________________ color ______________________________________ */

@colorBlack: rgb(0, 0, 0); /* #000000 */
@colorRed: rgb(255, 0, 0); /* #ff0000 */
@colorWhite: rgb(255, 255, 255); /* #ffffff */
@colorCatalinaBlue: rgb(6, 17, 120); /* #061178 */
@colorGray: rgb(140, 140, 140); /* #8C8C8C */
@colorGallery: rgb(240, 240, 240); /* #F0F0F0 */
@colorMineShaft: rgb(38, 38, 38); /* #262626 */
@colorZircon: rgb(240, 245, 255); /* #F0F5FF */
@colorRoyalBlue: rgb(47, 84, 235); /* #2F54EB */
@colorDanube: rgba(121, 156, 212, 0.5); /* #799cd4 */
@colorSunsetOrange: rgb(255, 77, 79); /* #ff4d4f */
@colorSun: rgb(250, 173, 20); /* #faad14 */
@colorLima: rgb(82, 196, 26); /* #52c41a */
@colorAlto: rgb(217, 217, 217); /* #d9d9d9 */
@colorSilver: rgb(191, 191, 191); /* bfbfbf */
@colorWildSand: rgb(245, 245, 245); /* f5f5f5 */

/* __________________________________box-shadow ___________________________________ */

@app-box-shadow-card: 0 (@rem * 2) (@rem * 8) 0 rgba(0, 0, 0, 0.15);

/* __________________________________ font ________________________________________ */

@fontSize: 16;
@rem: 1rem / @fontSize;

/* __________________________________ transition __________________________________ */

@standartTrans: all 280ms;

/* __________________________________ theme _______________________________________ */

@app-background-primary: @colorWhite;
@app-background-blur-color: @colorDanube;
@app-error-boundary-background: @colorZircon;
@app-error-color: @colorRed;
@app-sider-trigger: @colorGray;
@app-devider: @colorGallery;
@app-icon-color: @colorCatalinaBlue;
@app-text-color-primary: @colorMineShaft;
@app-text-color-secondary: @colorGray;
@app-text-color-disabled: @colorSilver;
@app-header-background-color: @colorZircon;
@app-card-text-color-primary: @colorCatalinaBlue;
@app-form-background: @colorWhite;
@app-result-error-danger: @colorSunsetOrange;
@app-result-error-warning: @colorSun;
@app-result-success: @colorLima;
@app-primary-color: @colorRoyalBlue;
@app-border-color-primary: @colorAlto;
@app-rating-stars-color: @colorSun;
@app-rating-text-color: @colorSilver;
@app-avatar-background-color: @colorWildSand;
@app-avatar-color: @colorMineShaft;
@app-scrollbar-color: @colorRoyalBlue;
@app-calendar-cell-background: @colorWhite;
@app-form-exercise-text-secondary: @colorSilver;
@app-form-exercise-label-background: @colorGallery;
@app-background-calendar-training-mobile: @colorZircon;

/* __________________________________ padding ______________________________________ */

@gap-4xs: (@rem * 2px);
@gap-3xs: (@rem * 4px);
@gap-2xs: (@rem * 6px);
@gap-xs: (@rem * 8px);
@gap-2s: (@rem * 10px);
@gap-s: (@rem * 12px);
@gap-2m: (@rem * 14px);
@gap-m: (@rem * 16px);
@gap-l: (@rem * 20px);
@gap-2l: (@rem * 22px);
@gap-xl: (@rem * 24px);
@gap-2xl: (@rem * 28px);
@gap-3xl: (@rem * 30px);
@gap-4xl: (@rem * 32px);
@gap-5xl: (@rem * 34px);
@gap-6xl: (@rem * 38px);
@gap-7xl: (@rem * 40px);
@gap-8xl: (@rem * 42px);
@gap-9xl: (@rem * 44px);
@gap-10xl: (@rem * 48px);
@gap-11xl: (@rem * 52px);
@gap-12xl: (@rem * 54px);
@gap-13xl: (@rem * 56px);
@gap-xxl: (@rem * 58px);
@gap-2xxl: (@rem * 62px);
@gap-3xxl: (@rem * 64px);
@gap-4xxl: (@rem * 70px);
@gap-5xxl: (@rem * 74px);
@gap-6xxl: (@rem * 78px);
@gap-7xxl: (@rem * 82px);
@gap-8xxl: (@rem * 86px);
@gap-9xxl: (@rem * 90px);
@gap-10xxl: (@rem * 94px);
@gap-11xxl: (@rem * 124px);
@gap-12xxl: (@rem * 156px);
@gap-xxxl: (@rem * 132);
@gap-2xxxl: (@rem * 174);
@gap-3xxxl: (@rem * 186);
@gap-4xxxl: (@rem * 220);

/* __________________________________ size font _____________________________________ */

@font-size-s: (@rem * 12px);
@font-size-2m: (@rem * 14px);
@font-size-m: (@rem * 16px);
@font-size-2l: (@rem * 22px);
@font-size-xl: (@rem * 24px);
@font-size-2xl: (@rem * 26px);
@font-size-6xl: (@rem * 36px);
@font-size-4xxl: (@rem * 70px);

/* __________________________________font-line ______________________________________ */

@font-line-origin: 1;
@font-line-m: 130%;

/* __________________________________ size height ___________________________________ */

@height-s: (@rem * 12px);
@height-m: (@rem * 16px);
@height-xl: (@rem * 40px);
@height-2xl: (@rem * 46px);
@app-height-calendar-cell: (@rem * 200px);

/* __________________________________size width _____________________________________ */

@app-width-button-error-add-feedback: (@rem * 180);
@app-width-footer-card: (@rem * 240px);
@app-width-modal: (@rem * 571px);
@app-width-modal-icon: (@rem * 70px);
@app-width-user-feedback: (@rem * 174px);
@app-width-validate-input: (@rem * 280px);
@app-width-scrollbar: (@rem * 5px);
@app-width-calendar-cell: (@rem * 264px);
@app-width-drawer: (@rem * 408px);

/* __________________________________ z-index ________________________________________ */

@z-index-m: 10;
@z-index-l: 20;
@z-index-xl: 100;
@z-index-max: 9999;
