@import '@shared/styles/constants';
@import '@shared/styles/mixin';

.error-get-feedback,
.success-feedback,
.error-add-feedback,
.error-get-traning {
    max-width: @app-width-modal !important;
    width: 100% !important;

    :global(.ant-result-title),
    :global(.ant-result-subtitle) {
        line-height: @font-line-m;
    }

    :global(.ant-result-title) {
        font-weight: 500;
    }

    .button {
        line-height: @font-line-m;
        height: @height-xl;
    }
}

:global(.ant-modal).error-get-feedback,
:global(.ant-modal).error-add-feedback,
:global(.ant-modal).success-feedback,
:global(.ant-modal).error-get-traning {
    padding: @gap-m;
}

.error-add-feedback {
    .button {
        display: flex;
        gap: @gap-xs;

        button {
            flex: 50%;
            height: @height-xl;
        }
    }
}

.error-get-feedback,
.error-get-traning {
    :global(.ant-modal-body) {
        padding-top: @gap-m;
        padding-bottom: @gap-xs;
    }
}

.success-feedback,
.error-add-feedback,
.error-get-feedback {
    :global(.ant-result) {
        .media-md({
            padding: @gap-6xl @gap-m @gap-4xl;
        });
    }
}

.error-get-traning {
    :global(.ant-result) {
        .media-md({
            padding: @gap-10xl @gap-m @gap-8xl;
        });
    }
}

.success-feedback,
.error-add-feedback {
    :global(.ant-modal-body) {
        .media-md({
            padding: 0;
        });

        :global(.ant-result-icon) {
            .media-md({
                margin-bottom: @gap-3xl;
            });
        }
    }
}

.error-get-feedback {
    :global(.ant-modal-body) {
        .media-md({
            padding: @gap-xl 0;
        });

        :global(.ant-result-icon) {
            .media-md({
                margin-bottom: @gap-xl;
            });
        }
    }
}

.success-feedback {
    :global(.ant-modal-body) {
        padding: @gap-xl @gap-11xl @gap-m;
    }

    .button {
        width: 100%;
    }
    svg {
        width: @app-width-modal-icon;
        height: @app-width-modal-icon;
    }
}

.modal-error-training {
    animation: none;
    :global(.ant-modal-body) {
        padding: 0;
    }
}

:global(.ant-modal).error-get-training-list,
:global(.ant-modal).error-add-training {
    padding-left: @gap-m;
    padding-right: @gap-m;
}

.error-get-training-list,
.error-add-training {
    max-width: @app-widht-notification !important;
    width: 100% !important;

    :global(.ant-modal-confirm .ant-modal-body) {
        padding: @gap-m @gap-xl;
    }

    :global(.ant-modal-confirm-body .ant-modal-confirm-title) {
        line-height: @font-line-m;
    }

    :global(.ant-modal-close-x) {
        width: (@rem * 70);
    }
}

:global(.ant-modal-confirm).error-get-training-list {
    :global(.ant-modal-body) {
        padding: @gap-m @gap-xl;
    }

    :global(.ant-modal-confirm-btns) {
        margin-top: @gap-s;

        :global(.ant-btn) {
            height: (@rem * 28);
            line-height: @font-line-m;
        }
    }
}

:global(.ant-notification-notice).success-update-user {
    padding: @gap-xs @gap-m;
    max-width: @app-width-notification-success-update-user;
    width: 100vw;

    line-height: @font-line-origin;

    background-color: @app-notification-success-background;
    border: (@rem * 1) solid @app-notification-success-border;

    :global(.ant-notification-notice-message) {
        font-size: @font-size-2m;
        line-height: @font-line-m;
    }

    :global(.ant-notification-notice-icon) {
        font-size: (@rem * 18);
        line-height: @font-line-origin;
    }

    :global(.ant-notification-notice-close) {
        top: @gap-2s;
    }

    :global(.ant-notification-notice-message) {
        margin-left: @gap-2xl;
        margin-bottom: 0;
    }
}
