@import '@shared/styles/constants';

:global(.ant-layout-content).my-traning-page {
    padding-bottom: @gap-8xl;
    height: 100%;

    .settings-content {
        max-width: @app-width-settings-content;
        width: 100%;
    }
}

:global(.ant-tabs).tabs {
    padding: @gap-s 0;
}
