@import '@shared/styles/constants';
@import '@shared/styles/mixin';

:global(.ant-layout-footer).app-footer {
    padding: (@rem * 156) (@rem * 24) (@rem * 42);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: (@rem * 24);

    background: transparent;

    .media-xs({
        padding: 0 (@rem * 16) (@rem * 42);
        justify-content: center;
    });

    :global(.ant-btn-link) {
        .media-xs({
            order: 2;
        });
    }

    .button-reviews {
        height: (@rem * 40);
        align-self: self-end;
        font-size: (@rem * 16);
    }
}
