@import '@shared/styles/constants';

.content {
    padding: (@rem * 64) (@rem * 85.5);
    max-width: (@rem * 539);
    width: 100%;

    border-radius: (@rem * 2);

    background-color: @app-form-background;

    &-logo {
        position: relative;
        margin-bottom: (@rem * 40);
        left: 50%;
        transform: translateX(-50%);
    }
}
