@import '@shared/styles/constants';
@import '@shared/styles/mixin';

.content {
    &-logo {
        position: relative;
        margin-bottom: @gap-7xl;
        left: 50%;
        transform: translateX(-50%);

        .media-xs ({
            margin-bottom: @gap-2xl;
        });
    }
}
