@import '@shared/styles/constants';

.result-card {
    .result-card-content {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        .icon {
            margin-bottom: @gap-2xl;
        }

        .description {
            margin-bottom: @gap-xl;
            text-align: center;
            line-height: @font-line-m;

            h3:global(.ant-typography) {
                font-weight: 500;
            }

            span:global(.ant-typography) {
                color: @app-text-color-secondary;
            }
        }

        :global(.ant-typography) {
            margin-bottom: 0;
            line-height: @font-line-m;
        }
    }
}
