@import '@shared/styles/constants';
@import '@shared/styles/mixin';

.main-page {
    .scrollbarMixin();

    :global(.ant-layout) {
        position: relative;
        background: none;
    }
}

:global(.ant-layout).main-page {
    min-height: 100vh;
    flex-direction: row;
    background: none;

    background-image: url('/assets/background_page_light.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content-wrapper {
        overflow-x: hidden;
    }
}

.main-content {
    flex: 1;

    overflow: auto;
    .scrollbarMixin();
}

.main-content-simple {
    margin-bottom: @gap-xxxl;

    overflow: auto;

    .scrollbarMixin();

    .media-md({
        margin-bottom: @gap-3xxxl;
    });
}
