@import '@shared/styles/constants';
@import '@shared/styles/mixin';

.main-page {
    :global(.ant-layout) {
        position: relative;
        background: none;
    }
}
:global(.ant-layout).main-page {
    min-height: 100vh;
    flex-direction: row;
    background: none;

    background-image: url('/assets/background_page_light.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content-wrapper {
        overflow-x: hidden;
    }
}

.main-content {
    flex: 1;

    overflow: auto;
    scrollbar-width: @app-width-scrollbar;
}

.main-content-simple {
    margin-bottom: @gap-xxxl;

    overflow: auto;
    scrollbar-width: @app-width-scrollbar;

    .media-md({
        margin-bottom: @gap-3xxxl;
    });
}

.main-content::-webkit-scrollbar {
    width: @app-width-scrollbar;
}

.main-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: @app-scrollbar-color;

    border-radius: @app-width-scrollbar;
}

.main-content::-webkit-scrollbar-thumb:hover {
    background-color: @app-scrollbar-color;
}
