@import '@shared/styles/constants';
@import '@shared/styles/mixin';

.card {
    :global(.ant-card-body) {
        padding: @gap-s @gap-s @gap-4xs;

        display: flex;
        align-items: center;
        gap: @gap-m;

        .media-tabtet({
            padding: @gap-s 0 @gap-3xs;
        });

        

        :global(span.ant-typography) {
            max-width: (@rem * 188);
            width: 100%;

            line-height: @font-line-m;
            color: @app-text-color-secondary;

            .media-tabtet
                ({
                max-width: @app-width-info-achievements-card;
            });;
        }

        :global(h3.ant-typography) {
            margin: 0;
            font-weight: 500;
            line-height: @font-line-m;

            .media-tabtet({
                font-size: (@rem *20)
            });
        }
    }

    :global(.ant-card-body::before),
    :global(.ant-card-body::after) {
        display: none;
    }
}
