@import '../../../shared/styles/constants';

:global(.ant-layout-header).app-header {
    padding: (@rem * 16) (@rem * 24);
    height: auto;
    text-wrap: balance;

    background: @app-header-background-color;
}

.app-header {
    :global(h1.ant-typography) {
        margin-bottom: 0;
        padding: (@rem * 6) 0;
        line-height: 130%;
    }

    :global(.ant-breadcrumb) {
        margin-bottom: (@rem * 8);
    }

    .content {
        display: flex;
    }
}
