@import '@shared/styles/constants';
@import '@shared/styles/mixin';

:global(.ant-layout-header).app-header {
    padding: @gap-m @gap-xl;
    height: auto;

    background: @app-header-background-color;
}

.app-header {
    :global(h1.ant-typography) {
        margin-bottom: 0;
        padding: @gap-2xs 0;
        line-height: @font-line-m;

        .media-tabtet({
            font-size: @gap-xl;
            font-weight: 500;
        });

        .media-md({
            font-size: @gap-l;
        });
    }

    :global(.ant-breadcrumb:not(:last-child)) {
        margin-bottom: @gap-xs;

        .media-md({
            margin-bottom: 0;
        });
    }

    .content {
        display: flex;
        justify-content: space-between;
    }

    .setting-traning-page {
       float: right;
    }
}
