@import '@shared/styles/constants';
@import '@shared/styles/mixin';

:global(.ant-form).form {
    width: 100%;
    :global(.ant-col.ant-form-item-label) {
        .visually-hidden;
    }

    :global(.ant-form-item) {
        margin-bottom: (@rem * 32);
    }

    :global(.ant-input) {
        font-size: (@rem * 14);
        line-height: 30px;
    }

    .buttons-wrapper {
        :global(.ant-form-item).button {
            margin-bottom: 0;
        }

        :global(.ant-btn-lg).button {
            .media-xs({
                font-size: (@rem *14);
                line-height: 130%
            });
        }

        :global(.ant-btn-lg).button-submit,
        :global(.ant-btn-lg).button-google {
            .media-xs({
                font-size: (@rem *14);
                line-height: 130%
            });
        }
    }

    .buttons-wrapper {
        :global(.ant-form-item).button + :global(.ant-form-item).button {
            margin-top: (@rem * 16);
        }
    }

    :global(.ant-form-item) {
        margin-top: (@rem * 12);
    }

    :global(.input-password + .input-password) {
        margin-top: (@rem * 44);
        margin-bottom: (@rem * 62);

        .media-xs({
            margin-top: (@rem * 48);
            margin-bottom: (@rem * 52);

        });
    }
}
