@import '../../styles/constants';
@import '../../styles/mixin';

:global(.ant-form).form {
    width: 100%;
    :global(.ant-col.ant-form-item-label) {
        .visually-hidden;
    }

    .inputs-wrapper {
        margin-bottom: (@rem * 60);
    }

    :global(.ant-form-item) {
        margin-bottom: (@rem * 32);
    }

    .buttons-wrapper {
        :global(.ant-form-item).button {
            margin-bottom: 0;
        }
    }

    .buttons-wrapper {
        :global(.ant-form-item).button + :global(.ant-form-item).button {
            margin-top: (@rem * 16);
        }
    }

    :global(.ant-form-item) {
        margin-top: (@rem * 12);
    }

    :global(.input-password + .input-password) {
        margin-top: (@rem * 44);
        margin-bottom: (@rem * 62);
    }
}
