@import '@shared/styles/constants';
@import '@shared/styles/mixin';

.result-page {
    .button {
        font-size: (@rem * 14);
    }
}
.error,
.error-change-password,
.error-check-email,
.error-check-email-no-exist,
.error-user-exist,
.success,
.success-change-password,
.error-login {
    font-size: (@rem * 70);
    line-height: 1;
}

.error,
.error-change-password,
.error-check-email,
.error-check-email-no-exist,
.error-user-exist {
    color: @app-result-error-danger;
}

.error-check-email {
    margin-bottom: (@rem * 14) !important;
}

.success,
.success-change-password {
    color: @app-result-success;
}

.error-login {
    color: @app-result-error-warning;
}

.error-check-email-content {
    padding-left: (@rem * 32);
    padding-right: (@rem * 32);
    padding-bottom: (@rem * 56);
}

.error-check-email-no-exist-content {
    padding-bottom: (@rem * 56);
    padding-left: (@rem * 54);
    padding-right: (@rem * 54);
    .media-xs({
        padding-left: (@rem * 32);
        padding-right: (@rem * 32);
        
    });
}

.error-change-password-content,
.error-user-exist-content,
.success-content,
.success-change-password-content,
.error-login-content {
    padding-top: (@rem * 70);
}

.error-check-email-content {
    .media-xs({       
        padding-top: (@rem * 64);
    });
}

.error-content,
.error-check-email-no-exist-content {
    padding-top: (@rem * 68);
}

.error-content,
.error-user-exist-content,
.error-login-content,
.success-content,
.success-change-password-content,
.error-change-password-content {
    .media-xs({       
        padding-top: (@rem * 36);
    });
}

.error-change-password-content,
.successC-cange-password-content {
    padding-bottom: (@rem * 56);

    .media-xs({       
        padding-bottom: (@rem * 32);
    });
}
