@import '@shared/styles/constants';
@import '@shared/styles/mixin';

.result-page {
    .button {
        font-size: @font-size-2m;
    }
}
.error,
.error-change-password,
.error-check-email,
.error-check-email-no-exist,
.error-user-exist,
.success,
.success-change-password,
.error-login {
    font-size: @font-size-4xxl;
    line-height: 1;
}

.error,
.error-change-password,
.error-check-email,
.error-check-email-no-exist,
.error-user-exist {
    color: @app-result-error-danger;
}

.error-check-email {
    margin-bottom: @gap-2m !important;
}

.success,
.success-change-password {
    color: @app-result-success;
}

.error-login {
    color: @app-result-error-warning;
}

.error-check-email-content {
    padding-left: @gap-4xl;
    padding-right: @gap-4xl;
    padding-bottom: @gap-13xl;
}

.error-check-email-no-exist-content {
    padding-bottom: @gap-13xl;
    padding-left: @gap-12xl;
    padding-right: @gap-12xl;
    .media-xs({
        padding-left: @gap-4xl;
        padding-right: @gap-4xl;
        
    });
}

.error-change-password-content,
.error-user-exist-content,
.success-content,
.success-change-password-content,
.error-login-content,
.error-content,
.error-check-email-no-exist-content {
    padding-top: @gap-4xxl;
}

.error-check-email-content {
    .media-xs({       
        padding-top: @gap-3xxl;
    });
}

.error-content,
.error-user-exist-content,
.error-login-content,
.success-content,
.success-change-password-content,
.error-change-password-content {
    .media-xs({       
        padding-top: @gap-6xl;
    });
}

.error-change-password-content,
.successC-cange-password-content {
    padding-bottom: @gap-13xl;

    .media-xs({       
        padding-bottom: @gap-4xl;
    });
}
