@import '@shared/styles/constants';

.error,
.errorChangePassword,
.errorCheckEmail,
.errorCheckEmailNoExist,
.errorUserExist,
.success,
.successChangePassword,
.errorLogin {
    font-size: (@rem * 80);
    line-height: 1;
}

.error,
.errorChangePassword,
.errorCheckEmail,
.errorCheckEmailNoExist,
.errorUserExist {
    color: @app-result-error-danger;
}

.success,
.successChangePassword {
    color: @app-result-success;
}

.errorLogin {
    color: @app-result-error-warning;
}


.errorCheckEmail-content,
.errorCheckEmailNoExist-content {
    padding-left: (@rem * 32);
    padding-right: (@rem * 32);
    padding-bottom: (@rem * 56);
}

.errorChangePassword-content,
.successChangePassword-content {
    padding-bottom: (@rem * 56);
}
