@import '@shared/styles/constants';

:global(.ant-form) {
    :global(.ant-form-item).remember {
        margin-bottom: (@rem * 18);
    }
}

:global(.ant-btn).login-form-forgot {
    float: right;
    padding: 0;
    height: unset;
    line-height: 130%;
    color: @app-link-color;
}
