@import '@shared/styles/constants';
@import '@shared/styles/mixin';

:global(.ant-form) {
    :global(.ant-form-item).remember {
        margin-bottom: @gap-l;

        .media-xs ({
            margin-bottom: @gap-2m;
        });
    }
}

:global(.ant-btn).login-form-forgot {
    float: right;
    padding: 0;
    height: unset;
    line-height: 130%;
    color: @app-primary-color;

    .media-xs ({
        padding-right: @gap-xs;
    });
}

:global(.ant-btn-lg).login-form-forgot {
    .media-xs ({
        font-size: @gap-2m;
    });
}
