@import '@shared/styles/constants';

.feedback-page{
    height: 100%;
}

.no-feedback {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.feedback-buttons {
    padding-top: @gap-xxxl;
    position: sticky;

    bottom: @gap-10xl;
    z-index: @z-index-m;
}
